<ion-content>
  <div class="container">
    <img class="img-logo" src="https://img.icons8.com/fluent/240/000000/economic-improvement.png"/>

    <form>
      <ion-item class="item-input" lines="none">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input placeholder="Usuário" id="usuario" #usuario></ion-input>
      </ion-item>
      <ion-item class="item-input" lines="none">
        <ion-icon name="key-outline"></ion-icon>
        <ion-input placeholder="Senha" type="password" name="senha" #senha></ion-input>
      </ion-item>
      <ion-button class="btn" fill="clear" (click)="entrar()">Entrar</ion-button>
    </form>
  </div>
</ion-content>