.div-card {
     text-align: center;
  
    // position: absolute;
    // left: 0;
    // right: 0;
    // top: 50%;
    // transform: translateY(-50%);
}

.container ion-item{
    padding: 5%;
}
.container ion-item ion-select{
    margin-right: 5%;
}
.rodape{
    text-align: center;
    color: white;
}