<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cotação
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  [fullscreen]="true">
  <!-- <ion-card id="cards">
    <div *ngFor="let c of cotacao">
      <ion-item (click)="openModal(c.moeda)">
        <img src="../../assets/USD.png" width="48px" height="24px" alt="Bandeira {{c.moeda}}">
        <ion-label style="margin-left: 5%;">{{c.nome}}</ion-label>
        <ion-badge color="success" slot="end">{{c.moeda}} {{c.valorMaximo}}</ion-badge>
      </ion-item>
    </div>
  </ion-card> -->
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let c of cotacao" size="6">
        <ion-card (click)="openModal(c.moeda)" style="border-left: 3px solid green;">
          <img src="../../assets/{{c.moeda}}.png" height="100px" width="100%" alt="Bandeira {{c.moeda}}">
          <ion-card-header>
            <ion-card-title>{{c.nome}}</ion-card-title>
            <ion-card-subtitle>{{c.moeda}}</ion-card-subtitle>
          </ion-card-header>  
          <ion-card-content>
            Máximo: {{c.valorMaximo}}
            Minima: {{c.valorMinimo}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>