<ion-content  [fullscreen]="true">
  <ion-item>
    <ion-label>Modo de exibição</ion-label>
    <ion-select (ionChange)="alterarVisualizacao($event)" okText="Ok" cancelText="Cancelar" value="l" placeholder="Selecione a opção desejada">
      <ion-select-option value="l">Lista</ion-select-option>
      <ion-select-option selected value="s">Slide</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-slides id="slides" class="hidden container" pager="false" [options]="slideOpts"></ion-slides>

  <ion-card id="cards">
  </ion-card>
</ion-content>