<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Notificações
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <form #f="ngForm" (ngSubmit)="cadastrar(f)">
      <ion-item class="item-input" lines="none">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input required [(ngModel)]="this.login.sessao.email" disabled placeholder="Email" id="email" name="email" #email="ngModel">
        </ion-input>
      </ion-item>
      <ion-item class="item-input">
        <ion-icon name="logo-bitcoin"></ion-icon>
        <ion-select [(ngModel)]="moedaSelecionada" name="moedas" slot="end" placeholder="Moedas" multiple="true" cancelText="Cancelar" okText="Concluir">
          <ion-select-option required *ngFor="let moeda of moedas" [value]="moeda.code">{{moeda.nome}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="item-input" lines="none">
        <ion-icon name="cash-outline"></ion-icon>
        <ion-input required ngModel placeholder="Cotação desejada" type="number" id="valor" name="valor" #valor="ngModel">
        </ion-input>
      </ion-item>
      <ion-item class="item-input">
        <ion-label style="word-wrap: break-word;">Notificações por e-mail</ion-label>
        <ion-checkbox ngModel name="receberEmail" #receberEmail="ngModel" slot="start"></ion-checkbox>
      </ion-item>
      <ion-button class="btn" fill="clear" type="submit"><span *ngIf="!exibirLoader">Salvar</span>
        <div *ngIf="exibirLoader" class="loader"></div>
      </ion-button>
      <ion-button class="btn btn-cancelar" (click)="dismiss()" fill="clear">Cancelar</ion-button>
    </form>
  </div>
</ion-content>